body {
  text-align: center;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}

#header a {
  top: 0;
  right: 0;
  color: #818c98;
  font-size: 20px;
  padding: 15px;
  margin-right: 20px;
  text-decoration: none;
}

#header a:hover {
  color: #0b223a;
}

#header img {
  margin-left: 180px;
  margin-right: 15px;
}

#header {
  z-index: 5;
  display: inline-block;
  position: fixed;
  height: 11vh;
  background-color: white;
  width: 100%;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}


#foter {
  display: grid;
  grid-template-columns: 20% auto 30%;
  text-align: center;
}

#foter input {
  width: 550px;
  margin-bottom: 7px;
}

#foter #botoonFrom {
  margin-top: 100px;
  margin-right: 70px;
}

#foter button {
  border-radius: 20px;
  height: 50px;
  width: 200px;
  background-color: white;
  text-align: center;
  width: 550px;
}

#foter button:hover {
  background-color: #0b223a;
  color: white;
  width: 550px;
}

#iconPhone {
  color: #d5451d;
  margin-right: 65px;
}

#iconEnvelope {
  color: #15b7d1;
  margin-right: 65px;

}

#iconUser {
  color: #f7c434;
  margin-right: 65px;

}

#bottonLogo a {
  color: #0b223a;
  text-decoration: none;

}

#bottonLogo {
  margin-right: 35px;
}

#bottonLogo img {
  margin-top: 20px;

}

h1 {
  margin-top: 150px;
}

.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  width: 80%;
  margin-right: 10%;
  margin-bottom: 4%;
}

.btn-primary {
  display: flex;
  margin-right: 45%;
}

#total {
  margin-right: 10%;

  width: 80%;
  height: 20%;
  border-radius: 25px;
  background-color: #eef2f5;
}

body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

#row {
  display: flex;

  display: none;
  display: -ms-flexbox;
  /* IE10 */
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #0b223a;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #0b223a;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  #row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}

#popup {
  z-index: 10;
  display: none;
  position: fixed;
  height: 60%;
  top: 25%;
  width: 50%;
  left: 25%;
  background-color: #fff;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

#popup button {
  border: none;
  height: 40px;
  width: 200px;
  margin-top: 5%;
}

#popup h1 {
  margin-top: 0px;
  color: #0b223a;
}

#sum {
  margin-top: 5%;
}

#popup h3 {
  color: #0b223a;
}
h4{
  color: #0b223a;
}