body {
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.set img {
    width: 40px;
    border-radius: 50%;
}

.set {
    display: grid;
    grid-template-rows: 33% auto 33%;
    height: 300px;
    border-radius: 50%;
    height: 200px;
    margin-left: 15px;
    width: 150px;

}

.button {
    margin-right: 32px;
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
}

.single {
    border-radius: 50%;
    height: 200px;
    width: 150px;
}

#cards {
    margin-top: 50px;
    display: flex;
}

body {
    text-align: center;
    direction: rtl;
    background-color: #eef2f5;
}

.single img {
    margin-top: 40px;
    width: 100px;
    border-radius: 50%;
}

h2 {
    color: #15b7d1;
}


#foter {
    display: grid;
    grid-template-columns: 20% auto 30%;
    text-align: center;
    background-color: white;
}

#foter input {
    width: 550px;
    margin-bottom: 7px;
}

#foter #botoonFrom {
    margin-top: 100px;
    margin-right: 70px;
}

#foter button {
    border-radius: 20px;
    height: 50px;
    width: 200px;
    background-color: white;
    text-align: center;
    width: 550px;
}

#foter button:hover {
    background-color: #0b223a;
    color: white;
    width: 550px;
}

#iconPhone {
    color: #d5451d;
    margin-right: 65px;
}

#iconEnvelope {
    color: #15b7d1;
    margin-right: 65px;

}

#iconUser {
    color: #f7c434;
    margin-right: 65px;

}

#bottonLogo a {
    color: #0b223a;
    text-decoration: none;

}

#bottonLogo {
    margin-right: 35px;
}

#bottonLogo img {
    margin-top: 20px;

}

#header a {
    color: #818c98;
    font-size: 20px;
    padding: 15px;
    margin-right: 20px;
    text-decoration: none;
}

#header a:hover {
    color: #0b223a;
}

#header img {
    margin-left: 180px;
    margin-right: 15px;
}

#header {
    top: 0;
    right: 0;
    display: inline-block;
    position: fixed;
    height: 11vh;
    background-color: white;
    width: 100%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.finalText {
    font-size: xx-large;
    color: #15b7d1;
    text-align: center;
}

.text {
    font-size: x-large;
    color: #0b223a;
    text-align: center;
}